body{
    cursor: none;
    height: 100vh;
    overflow: hidden;
    background-attachment: scroll !important;
    margin: 0;
    background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.loading{
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100000000000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-sidebar{
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50vw;
  transform: scale(1);
  bottom: 0;
  z-index: 0;
  opacity: 0;
}

/* .overlay{
  width: 100vw;
  height: 100vh;
  background-color:rgba(255, 205, 130, 0.9);
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

.intro{
  width: 85vw;
  height: auto;
  z-index: 10001;
  position: absolute;
  font-size: 2.8rem;
  line-height: 3.8rem;
  padding-left: 45px;
  padding-top: 16px;
  text-align: left;
  font-family: 'NowieVremena';
  color:black;
  /* box-shadow: 2px 5px 80px 1px palegoldenrod; */
/* } */

/* #x{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10021;
  margin-top: 26px;
  margin-right: 36px;
  width: 60px;
}
 */ 


 #info-button{
   width: 30px;
   height: 30px;
   position: fixed;
   top: 20px;
   right: 22px;
   z-index: 50000000;
 }

 #info-button:hover{
   transform: rotate(45deg);
   transition: ease-in-out;
   
 }

/* .loaded .image{
  transform: scale(1);
} */

#underline{
  /* border-bottom: solid 1px rgb(218, 131, 0); */
  border-bottom: 1px solid black;
}

.image {
  position: absolute;
  transition: width 0.5s, height 0.5s ease-in-out;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  
  /* box-shadow: 2px 5px 8px -3px  rgba(66, 66, 66, 0.8); */
}

.image:hover{
  z-index: 1000;
  transition-timing-function: ease-in-out;
  border: 5px solid transparent;
  box-shadow: 2px 4px 8px -3px  #8d8d8d;

}

#image1 {
  top: -1550px;
  left: 850px;
  background-image: url('../images/lcg-3.png');
  background-size: cover;
  width: 250px;
  height: 190px;
  z-index: 100;
}
#image1:hover {
  width: calc(250px * 1.6);
  height: calc(190px * 1.6);
}

#image2{
  background: url('../images/lcg-5.png');
  background-size: cover;
  top: -1620px;
  left: 680px;
  width: 270px;
  height: 350px;
  
}
#image2:hover {
  width: calc(270px * 1.6);
  height: calc(350px * 1.6);
}
/* #image3 {
  background: url('../images/lcg-6.png');
  background-size: cover;
  top: -750px;
  left: 780px;
  width: 200px;
  height: 120px;
}
#image3:hover {
  width: calc(200px * 1.6);
  height: calc(120px * 1.6);
} */
/* #image4 {
  top:-410px;
  left: 1070px;
  width: 200px;
  height: 140px;
  background: url('../images/lcg-7.png');
  background-size: cover;
}
#image4:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
} */

/* art of this century gallery */
#image5 {
  top: -750px;
  left: 270px;
  height: 170px;
  width: 220px;
  background-size: 325px;
  z-index: 99 !important;
  background-image: url("../images/art-of-this-century-gallery-2.jpg");
}
#image5:hover {
  width: calc(220px * 1.6);
  height: calc(170px * 1.6);
}

#image6 {
  top: -850px;
  width: 260px;
  height: 340px;
  left: 420px;
  background-image: url("../images/art-of-this-century-gallery-1.png");
  background-size: inherit;
  background-repeat: no-repeat;
}
#image6:hover {
  width: calc(260px * 1.6);
  height: calc(340px * 1.6);
}


/* sidney janis gallery */

#image7 {
  top: -450px;
  left: 20px;
  height: 240px;
  width: 190px;
  background-size: cover;
  background: url("../images/sidney-janis-3.png");
  background-size: cover;
  z-index: 100 !important;
}
#image7:hover {
  width: calc(190px * 1.6);
  height: calc(240px * 1.6);
}

#image8 {
  top: -380px;
  left: -200px;
  height: 360px;
  width: 280px;
  background-size: cover;
  background: url("../images/sidney-janis-1.jpeg");
}
#image8:hover {
  width: calc(250px * 1.6);
  height: calc(300px * 1.6);
}

#image9{
  top: -600px;
  left: -350px;
  height: 140px;
  width: 210px;
  background-size: cover;
  background-image: url("../images/sidney-janis-2.jpeg");
  background-position: center;
}
#image9:hover {
  width: calc(210px * 1.6);
  height: calc(140px * 1.6);
}

/* mark rothko studio */
#image10 {
  top: -1050px;
  left: 1040px;
  height: 380px;
  width: 290px;
  background-image: url("../images/mark-rothko-1.jpeg");
  background-size: cover;
}
#image10:hover {
  width: calc(250px * 1.6);
  height: calc(350px * 1.6);
}
#image11 {
  top: -1250px;
  left: 1400px;
  height: 200px;
  width: 290px;
  background-image: url("../images/mark-rothko-3.jpeg");
  background-size: cover;
}
#image11:hover {
  width: calc(290px * 1.6);
  height: calc(200px * 1.6);
}
#image12 {
  top: -920px;
  left: 1280px;
  height: 200px;
  width: 170px;
  background-image: url("../images/mark-rothko-2.jpeg");
  background-size: cover;
}
#image12:hover {
  width: calc(170px * 1.6);
  height: calc(200px * 1.6);
}

/* betty parsons gallery */
#image14 {
  top: -300px;
  left: 640px;
  height: 190px;
  width: 280px;
  background-image: url("../images/betty-parsons-1.jpg");
  background-size: cover;
}
#image14:hover {
  width: calc(280px * 1.6);
  height: calc(190px * 1.6);
}
#image15 {
  top: -465px;
  left: 850px;
  height: 200px;
  width: 140px;
  background-image: url("../images/parsons-3.jpg");
  background-size: cover;
}
#image15:hover {
  width: calc(140px * 1.6);
  height: calc(200px * 1.6);
}


/* MoMA */
#image13 {
  top: 100px;
  left: 1020px;
  height: 290px;
  width: 400px;
  background-image: url("../images/moma-1.jpeg");
  background-size: cover;
}
#image13:hover {
  width: calc(400px * 1.6);
  height: calc(290px * 1.6);
}

#image16{
  top: 160px;
  left:950px;
  height: 130px;
  width: 200px;
  background-image: url("../images/moma-2.jpg");
  background-size: cover;
}
#image16:hover {
  width: calc(200px * 1.6);
  height: calc(130px * 1.6);
}

#image17{
  top: 350px;
  left: 750px;
  height: 250px;
  width: 190px;
  background-image: url("../images/moma-3.jpeg");
  background-size: cover;
}
#image17:hover {
  width: calc(190px * 1.6);
  height: calc(250px * 1.6);
}

#image18{
  top: 550px;
  left: 850px;
  height: 210px;
  width: 300px;
  background-image: url("../images/moma-4.jpeg");
  background-size: cover;
}
#image18:hover {
  width: calc(300px * 1.6);
  height: calc(210px * 1.6);
}

#image24{
  background-image: url(../images/kline-1.jpg);
  width: 300px;
  height: 220px;
  top: 950px;
  left: 300px;
  background-size: cover;
}
#image24:hover {
  width: calc(300px * 1.6);
  height: calc(220px * 1.6);
}
#image25{
  background-image: url(../images/kline-2.jpg);
  width: 180px;
  height: 240px;
  top: 1050px;
  left: 200px;
  background-size: cover;
}
#image25:hover {
  width: calc(180px * 1.6);
  height: calc(240px * 1.6);
}
#image26{
  background-image: url(../images/krasner-1.jpg);
  width: 210px;
  height: 140px;
  top: 750px;
  left: -300px;
  background-size: cover;
  z-index: 100;
}
#image26:hover {
  width: calc(210px * 1.6);
  height: calc(140px * 1.6);
}
#image27{
  background-image: url(../images/krasner-2.jpg);
  width: 220px;
  height: 280px;
  top: 650px;
  left: -200px;
  background-size: cover;
}
#image27:hover {
  width: calc(220px * 1.6);
  height: calc(280px * 1.6);
}
#image28{
  background-image: url(../images/studio35-1.jpg);
  width: 220px;
  height: 280px;
  top: 2050px;
  left: 0px;
  background-size: cover;
}
#image28:hover {
  width: calc(220px * 1.6);
  height: calc(280px * 1.6);
}
#image29{
  background-image: url(../images/studio35-2.jpg);
  width: 340px;
  height: 240px;
  top: 2300px;
  left: -400px;
  background-size: cover;
}
#image29:hover {
  width: calc(340px * 1.6);
  height: calc(240px * 1.6);
}
#image30{
  background-image: url(../images/studio35-3.png);
  width: 180px;
  height: 220px;
  top: 1950px;
  left: -100px;
  background-size: cover;
}
#image30:hover {
  width: calc(220px * 1.6);
  height: calc(280px * 1.6);
}


.image-caption{
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 1000 !important;
  color: black;
  font-family: 'StandardBook';
  font-size: 19px;
  bottom: 36px;
  opacity: 0;
}

/* de kooning studio */
#image19{
  top: 1450px;
  left: -200px;
  height: 300px;
  width: 390px;
  background-image: url("../images/de-kooning-2.jpg");
  background-size: cover;
}
#image19:hover {
  width: calc(290px * 1.6);
  height: calc(200px * 1.6);
}

#image20{
  top: 1400px;
  left: -300px;
  height: 170px;
  width: 260px;
  background-image: url("../images/de-kooning-1.jpg");
  background-size: cover;
}
#image20:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}

#image21{
  top: 1650px;
  left: 750px;
  height: 170px;
  width: 260px;
  background-image: url("../images/tavern-2.jpg");
  background-size: cover;
}
#image21:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}
#image22{
  top: 1650px;
  left: 400px;
  height: 350px;
  width: 260px;
  background-image: url("../images/tavern-3.jpg");
  background-size: cover;
}
#image22:hover {
  width: calc(210px * 1.6);
  height: calc(300px * 1.6);
}
#image23{
  top: 1900px;
  left: 530px;
  height: 150px;
  width: 250px;
  background-image: url("../images/tavern-4.jpg");
  background-size: cover;
}
#image23:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}

#learn{
  position: fixed;
  top: 26px;
  right: 19px;
  width: 40px;
  z-index: 100000;

}


@font-face {
  font-family: 'StandardBook';
  src: url(../fonts/standard-book-webfont.woff);
}
@font-face {
  font-family: 'StandardBook-Italic';
  src: url(../fonts/standard-book-italic-webfont.woff);
}

@font-face {
  font-family: 'StandardBold';
  src: url(../fonts/standard-bold-webfont.woff);
}
@font-face {
  font-family: 'StandardBold-Italic';
  src: url(../fonts/standard-bold-italic-webfont.woff);
}

#cursor{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    z-index: 10000000;
    pointer-events: none;
    transform: scale(2);
}

.title{
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 85px;
  margin-top: 20px;
  font-family: 'SuisseWorks-Medium';
  font-size: 1.05rem;
  color: transparent;
  z-index: 10001;
}

.title:hover{
  font-style: italic;
}

#background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top:0;
  left:0;
  background: url('../images/bg-1.png');
  background-size: 800px;
  background-repeat: repeat;
}

#info{
  width: 25px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: 80px;
  opacity: 0;
}


::selection {
  background-color:rgb(255, 90, 68);
  color: black;
}
/* 
.body-text{
  width: 90vw;
  height: 5vh;
  position: fixed;
  top: 50px;
  left: 0;
  margin-left: 30px;
  margin-top: 0px;
  font-family: 'SuisseWorks-Bold';
  font-size: 2.4rem;
  color: #070707;
  line-height: 3rem;
  hyphens: auto;
  z-index: 1;
} */

.link-container{
  width: auto;
  position: absolute;
  top: 400px;
  left: 80px;
  font-family: 'Life';
  color: black;
  font-size: 1.05rem;
  text-decoration: none;
}


a:visited{
  text-decoration: none;
  color: black;
}

#expand{
  display: hidden;
  background-color: white;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 10003;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/arrow-02.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: 55vw;
  background-position-y: 55vh;
}

#expand-text{
  font-size: 40px;
  z-index: 100000005;
  opacity: 0;
  color: #376ec0;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.arrow{
  width: 50vw;
}

#expand-arrow{
  width: 100vw;
  height: 100vh;
  font-family: 'SuisseWorks-Regular';
  font-size: 190px;
  z-index: 100000005;
  opacity: 0;
  color: #dd9e14;
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  #expand {
    display: block;
  }
  #expand-text{
    opacity: 1;
  }
  #expand-arrow{
    opacity: 1;
  }
  .right-header{
    color:#376ec0;
    z-index: 10000000000;
  }
}

/* #header{
  width: 100vw;
  height: auto;
  font-family: 'StandardBook';
  font-weight: 700;
  font-size: 12px;
  position: fixed;
  top: 17px;
  text-align: center;
  color: #0a0dc4;
} */



/* 
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
} */

#paint{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidebar{
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: -55vw;
/* change margin back for animation to work */
  transition: ease-in-out;
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  background-color: white;
  z-index: 8000000;

}

#kline.sidebar{
  color: #376ec0;
}

#leo-castelli.sidebar{
  color:#376ec0;
}
#leo-castelli a{
  color:#376ec0;
}
#leo-castelli.get-directions{
  border:1px solid #376ec0;
}

#krasner.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  color:#376ec0;
}
#krasner a{
  color:#376ec0;
}
#krasner.get-directions{
  border:1px solid #376ec0;
}

#studio35.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  color:#376ec0;
}
#studio35 a{
  color:#376ec0;
}
#studio35.get-directions{
  border:1px solid #376ec0;
}

#mark-rothko a{
  color:#376ec0;
}
#mark-rothko.get-directions{
  border:1px solid #376ec0;
}

#tavern a{
  color:#376ec0;
}
#tavern.get-directions{
  border:1px solid #376ec0;
}
#de-kooning a{
  color:#376ec0;
}
#de-kooning.get-directions{
  border:1px solid #376ec0;
}


#mark-rothko.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  overflow: scroll;
  color:#376ec0;
}

#betty-parsons a{
  color:#376ec0;
}
#betty-parsons.get-directions{
  border:1px solid #376ec0;
}

#kline a{
  color:#376ec0;
}
#moma a{
  color:#376ec0;
}

#janis-gallery a{
  color:#376ec0;
}

#century-gallery a{
  color:#376ec0;
}
#century-gallery.get-directions{
  border:1px solid #376ec0;
}

#tavern.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  color:#376ec0;
}

#de-kooning.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  color:#376ec0;
}

#betty-parsons.sidebar{
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
  color:#376ec0;
}

.return{
  font-family: 'StandardBook';
  font-size: 19px;
  position: static;
  margin-top: 15px;
  margin-left: 25px;
  width: 50vw;
  text-align: left;
}

/* .return:hover{
  border-bottom: 2px solid #376ec0;
} */




.site-title{
  transform: rotate(90deg);
  height: 25px;
  width: 100vh;
  font-family: 'StandardBook';
  font-size: 21px;
  color: rgb(131, 131, 131);
  position: absolute;
  right: -30vw;
  top: 50vh;
  text-align: center;
  z-index: 100000000;
}

#betty-parsons.sidebar{
  color: #376ec0;
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
}

#century-gallery.sidebar{
  color: #376ec0;
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
}
#janis-gallery.sidebar{
  color: #376ec0;
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
}
#moma.sidebar{
  color: #376ec0;
  box-shadow: 2px 5px 8px -3px  #8d8d8d;
}

a{
  color: none;
}
/* a:hover{
  text-decoration: underline;
} */

.info-popup{
  width: 40vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transform: scale(0);
  background-color: white;
  box-shadow: 2px 5px 40px -3px  #376ec0;
  z-index: 90000;
  font-family: 'StandardBook';
  font-size: 19px;
  color: #376ec0;
  text-align: center;
  padding: 50px;
  margin-top: auto;
  line-height: 30px;
}

#haze{
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  position: fixed;
  top:0;
  left: 0;
  bottom:0;
  right: 0;
  transform: scale(0);
}

#haze-2{
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  position: fixed;
  top:0;
  left: 0;
  bottom:0;
  right: 0;
  transform: scale(0);
  z-index: 100000000000;
}

#kline{
  color: #376ec0;
}




.image-box{
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.sidebar-images{
  width: 150px;
  height: auto;
  padding-right: 20px;
}

.source-container{
  width: 45vw;
  height: auto;
  position: absolute;
  bottom: 26px;
  left: 0;
}

.source{
  font-family: 'StandardBook';
  font-size: 19px;
  margin-top: 3px;
  margin-left:13px;
  width: 170px;
  line-height: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 8px;
}

.source:hover{
  text-decoration: underline;
}

.body-copy{
  font-family: 'StandardBook';
  font-size: 19px;
  position: static;
  margin-top: 26px;
  margin-left: 20px;
  padding-bottom: 15px;
  width: 44vw;
  line-height: 26px;
}

.subhead{
  font-family: 'StandardBook';
  position: absolute;
  bottom: 17px;
  font-size: 19px;
  margin-top: 26px;
  padding-bottom:0px;
  margin-left: 20px;
  width: 45vw;
  line-height: 26px;
  padding-bottom: 6px;
  text-decoration: underline;
}

.top-link{
  margin-top: 25px;
}

.source-link{
  line-height: 20px;
  padding-bottom: 5px;
}

.source-link:hover{
  text-decoration: underline;
}




@import "compass/css3";

.progress {
  width: 100%;
  height: 50px;
}
.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}


#intro{
  width: 98vw;
  height: auto;
  position: fixed;
  top: 17px;
  left: 0;
  z-index: 10000;
  color: #376ec0;
  font-family: 'StandardBook';
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  z-index: 100;
}

#x{
  position: absolute;
  right: 25px;
  top: 17px;
  width: 20px;
  stroke-width: 20px;
}

.line{
  position: absolute;
  top: 20px;
  left: 0;
  height: 0;
  width: 45px;
  border-bottom: 1px solid black;
  margin-left: 25px;
}

hr{
  width: 45vw;
  margin-left: 20px;
  margin-bottom: 20px;
  opacity: 0.3;
}

#about{
  width: 37vw;
  height: auto;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  background-color: white;
  color: #376ec0;
  z-index: 1000000;
  font-family: 'StandardBook';
  font-size: 19px;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 18px;
  padding-right: 50px;
  padding-bottom: 18px;
  text-align: left;
  border: solid 4px #376ec0;
  transform: translate(0%, 0%);
}

/*  */



.info-title{
  height: 25px;
  width: 40vw;
  font-family: 'StandardBook';
  font-size: 25px;
  color: #376ec0;
  z-index: 100000000;
  padding-bottom: 20px;
  margin-top: 17px;
  margin-left: 0;
  /* text-decoration: underline; */
  text-align: center;
}

.info{
    width: 43vw;
    height: auto;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(50%,50%) scale(1);
    padding-bottom: 40px;
    padding-left: 40px;
    z-index: 10000000;
    overflow: hidden scroll;
    box-shadow: 2px 5px 8px -3px  #8d8d8d;

}
.info-body{
    width: 40vw;
    font-family: 'StandardBook';
    font-size: 19px;
    margin-top: 30px;
    line-height: 26px;
    color: #376ec0;
    overflow-y: scroll;

}

.citation{
  width: 45vw;
  font-family: 'StandardBook';
  font-size: 14px;
  line-height: 23px;
  color: #376ec0;
  padding-top: 70px;
}
