body{
    cursor: none;
    height: 100vh;
    overflow: hidden;
    background-attachment: scroll !important;
    margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.loading{
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
}

.close-sidebar{
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50vw;
  transform: scale(0);
  bottom: 0;
  z-index: 10000;
  opacity: 0;
}

/* .overlay{
  width: 100vw;
  height: 100vh;
  background-color:rgba(255, 205, 130, 0.9);
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

.intro{
  width: 85vw;
  height: auto;
  z-index: 10001;
  position: absolute;
  font-size: 2.8rem;
  line-height: 3.8rem;
  padding-left: 45px;
  padding-top: 16px;
  text-align: left;
  font-family: 'NowieVremena';
  color:black;
  /* box-shadow: 2px 5px 80px 1px palegoldenrod; */
/* } */

/* #x{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10021;
  margin-top: 26px;
  margin-right: 36px;
  width: 60px;
}
 */ 


 #info-button{
   width: 30px;
   height: 30px;
   position: fixed;
   top: 20px;
   right: 22px;
   z-index: 50000000;
 }

 #info-button:hover{
   transform: rotate(45deg);
   transition: ease-in-out;
   
 }

/* .loaded .image{
  transform: scale(1);
} */

#underline{
  /* border-bottom: solid 1px rgb(218, 131, 0); */
  border-bottom: 1px solid black;
}

.image {
  position: absolute;
  transition: width 0.5s, height 0.5s ease-in-out;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  /* box-shadow: 2px 5px 8px -3px  rgba(66, 66, 66, 0.8); */
}

.image:hover{
  z-index: 1000;
  transition-timing-function: ease-in-out;
  border: 4px solid transparent;
}

#image1 {
  top: -1350px;
  left: 650px;
  background-image: url('../images/lcg-3.png');
  background-size: cover;
  width: 250px;
  height: 190px;
  z-index: 100;
}
#image1:hover {
  width: calc(250px * 1.6);
  height: calc(190px * 1.6);
}

#image2{
  background: url('../images/lcg-5.png');
  background-size: cover;
  top: -1420px;
  left: 480px;
  width: 270px;
  height: 350px;
  
}
#image2:hover {
  width: calc(270px * 1.6);
  height: calc(350px * 1.6);
}
/* #image3 {
  background: url('../images/lcg-6.png');
  background-size: cover;
  top: -750px;
  left: 780px;
  width: 200px;
  height: 120px;
}
#image3:hover {
  width: calc(200px * 1.6);
  height: calc(120px * 1.6);
} */
/* #image4 {
  top:-410px;
  left: 1070px;
  width: 200px;
  height: 140px;
  background: url('../images/lcg-7.png');
  background-size: cover;
}
#image4:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
} */

/* art of this century gallery */
#image5 {
  top: -350px;
  left: 70px;
  height: 170px;
  width: 220px;
  background-size: 325px;
  z-index: 99 !important;
  background-image: url("../images/art-of-this-century-gallery-2.jpg");
}
#image5:hover {
  width: calc(220px * 1.6);
  height: calc(170px * 1.6);
}

#image6 {
  top: -450px;
  width: 260px;
  height: 340px;
  left: 220px;
  background-image: url("../images/art-of-this-century-gallery-1.png");
  background-size: inherit;
  background-repeat: no-repeat;
}
#image6:hover {
  width: calc(260px * 1.6);
  height: calc(340px * 1.6);
}


/* sidney janis gallery */

#image7 {
  top: -150px;
  left: -80px;
  height: 240px;
  width: 190px;
  background-size: cover;
  background: url("../images/sidney-janis-3.png");
  background-size: cover;
  z-index: 100 !important;
}
#image7:hover {
  width: calc(190px * 1.6);
  height: calc(240px * 1.6);
}

#image8 {
  top: -50px;
  left: -300px;
  height: 300px;
  width: 250px;
  background-size: cover;
  background: url("../images/sidney-janis-1.jpeg");
}
#image8:hover {
  width: calc(250px * 1.6);
  height: calc(300px * 1.6);
}

#image9{
  top: -210px;
  left: -450px;
  height: 140px;
  width: 210px;
  background-size: cover;
  background-image: url("../images/sidney-janis-2.jpeg");
  background-position: center;
}
#image9:hover {
  width: calc(210px * 1.6);
  height: calc(140px * 1.6);
}

/* mark rothko studio */
#image10 {
  top: -950px;
  left: 840px;
  height: 380px;
  width: 290px;
  background-image: url("../images/mark-rothko-1.jpeg");
  background-size: cover;
}
#image10:hover {
  width: calc(250px * 1.6);
  height: calc(350px * 1.6);
}
#image11 {
  top: -1150px;
  left: 1150px;
  height: 200px;
  width: 290px;
  background-image: url("../images/mark-rothko-3.jpeg");
  background-size: cover;
}
#image11:hover {
  width: calc(290px * 1.6);
  height: calc(200px * 1.6);
}
#image12 {
  top: -720px;
  left: 1080px;
  height: 200px;
  width: 170px;
  background-image: url("../images/mark-rothko-2.jpeg");
  background-size: cover;
}
#image12:hover {
  width: calc(170px * 1.6);
  height: calc(200px * 1.6);
}

/* betty parsons gallery */
#image14 {
  top: 100px;
  left: 540px;
  height: 190px;
  width: 280px;
  background-image: url("../images/betty-parsons-1.jpg");
  background-size: cover;
}
#image14:hover {
  width: calc(280px * 1.6);
  height: calc(190px * 1.6);
}
#image15 {
  top: -65px;
  left: 650px;
  height: 200px;
  width: 140px;
  background-image: url("../images/parsons-3.jpg");
  background-size: cover;
}
#image15:hover {
  width: calc(140px * 1.6);
  height: calc(200px * 1.6);
}


/* MoMA */
#image13 {
  top: 500px;
  left: 570px;
  height: 290px;
  width: 400px;
  background-image: url("../images/moma-1.jpeg");
  background-size: cover;
}
#image13:hover {
  width: calc(400px * 1.6);
  height: calc(290px * 1.6);
}

#image16{
  top: 560px;
  left:500px;
  height: 130px;
  width: 200px;
  background-image: url("../images/moma-2.jpg");
  background-size: cover;
}
#image16:hover {
  width: calc(200px * 1.6);
  height: calc(130px * 1.6);
}

#image17{
  top: 700px;
  left: 300px;
  height: 250px;
  width: 190px;
  background-image: url("../images/moma-3.jpeg");
  background-size: cover;
}
#image17:hover {
  width: calc(190px * 1.6);
  height: calc(250px * 1.6);
}

#image18{
  top: 900px;
  left: 400px;
  height: 210px;
  width: 300px;
  background-image: url("../images/moma-4.jpeg");
  background-size: cover;
}
#image18:hover {
  width: calc(300px * 1.6);
  height: calc(210px * 1.6);
}





.image-caption{
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 1000 !important;
  color: black;
  font-family: 'F Grotesk book';
  font-size: 21px;
  bottom: 39px;
  opacity: 0;
}

/* de kooning studio */
#image19{
  top: 1350px;
  left: -100px;
  height: 300px;
  width: 390px;
  background-image: url("../images/de-kooning-2.jpg");
  background-size: cover;
}
#image19:hover {
  width: calc(290px * 1.6);
  height: calc(200px * 1.6);
}

#image20{
  top: 1300px;
  left: -200px;
  height: 170px;
  width: 260px;
  background-image: url("../images/de-kooning-1.jpg");
  background-size: cover;
}
#image20:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}

#image21{
  top: 1600px;
  left: 450px;
  height: 170px;
  width: 260px;
  background-image: url("../images/tavern-2.jpg");
  background-size: cover;
}
#image21:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}
#image22{
  top: 1700px;
  left: 100px;
  height: 350px;
  width: 260px;
  background-image: url("../images/tavern-3.jpg");
  background-size: cover;
}
#image22:hover {
  width: calc(210px * 1.6);
  height: calc(300px * 1.6);
}
#image23{
  top: 1850px;
  left: 330px;
  height: 150px;
  width: 250px;
  background-image: url("../images/tavern-4.jpg");
  background-size: cover;
}
#image23:hover {
  width: calc(260px * 1.6);
  height: calc(170px * 1.6);
}


@font-face {
  font-family: 'Suisseworks book';
  src: url('../fonts/SuisseWorks-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Suisseworks';
  src: url('../fonts/SuisseWorks-RegularItalic.otf') format('opentype'), url('../fonts/SuisseWorks-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Suisseworks';
  src: url('../fonts/SuisseWorks-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Suisseworks';
  src: url('../fonts/SuisseWorks-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Suisseworks';
  src: url('../fonts/SuisseWorks-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'F grotesk';
  src: url('../fonts/F-Grotesk-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'F grotesk';
  src: url('../fonts/F-Grotesk-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'F grotesk demi';
  src: url('../fonts/F-Grotesk-Demi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'F grotesk demi';
  src: url('../fonts/F-Grotesk-Demi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'F grotesk';
  src: url('../fonts/F-Grotesk-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'F grotesk';
  src: url('../fonts/F-Grotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'F grotesk book';
  src: url('../fonts/F-Grotesk-Book-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'F grotesk book';
  src: url('../fonts/F-Grotesk-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* #moma-info{
  top: 100px;
  left: 300px;
  z-index: 100 !important;
} */

/* .top-header{
    width: 100vw;
    height: 5vh;
    position: absolute;
    position: fixed;
}
.bottom-header{
    width: 100vw;
    height: 5vh;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
}
.left-header{
    width: 5vh;
    height: 100vh;
    position: fixed;
    left:-450px;
    transform: rotate(90deg);
}
*/
.right-header{
    width: auto;
    height: auto;
    position: fixed;
    font-family: 'F Grotesk book';
    font-size: 16px;
    color: rgba(0,0,0,0.35);
    z-index: 0;
    top:50vh;
    right:-40px;
    transform: rotate(90deg);
}

#cursor{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    z-index: 10000000;
    pointer-events: none;
}

.title{
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 85px;
  margin-top: 20px;
  font-family: 'SuisseWorks-Medium';
  font-size: 1.05rem;
  color: transparent;
  z-index: 10001;
}

.title:hover{
  font-style: italic;
}

#background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top:0;
  left:0;
  background: url('../images/bg-1.png');
  background-size: 800px;
  background-repeat: repeat;
}

#info{
  width: 25px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: 80px;
  opacity: 0;
}


::selection {
  background-color:rgb(255, 90, 68);
  color: black;
}

.body-text{
  width: 90vw;
  height: 5vh;
  position: fixed;
  top: 50px;
  left: 0;
  margin-left: 30px;
  margin-top: 0px;
  font-family: 'SuisseWorks-Bold';
  font-size: 2.4rem;
  color: #070707;
  line-height: 3rem;
  hyphens: auto;
  z-index: 1;
}

.link-container{
  width: auto;
  position: absolute;
  top: 400px;
  left: 80px;
  font-family: 'Life';
  color: black;
  font-size: 1.05rem;
  text-decoration: none;
}


a:visited{
  text-decoration: none;
  color: black;
}

#expand{
  display: hidden;
  background-color: white;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 1000000003;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top:0;
  align-items: center;
  align-content: center;
}

#expand-text{
  font-size: 40px;
  z-index: 100000005;
  opacity: 0;
  color: #be4d4a;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.arrow{
  position: absolute;
  color: #be4d4a;
  width: 50vw;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

#expand-arrow{
  width: 100vw;
  height: 100vh;
  font-family: 'SuisseWorks-Regular';
  font-size: 190px;
  z-index: 100000005;
  opacity: 0;
  color: #be4d4a;
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  #expand {
    display: block;
  }
  #expand-text{
    opacity: 1;
  }
  #expand-arrow{
    opacity: 1;
  }
}

#header{
  width: 100vw;
  height: auto;
  font-family: "F grotesk demi";
  font-weight: 700;
  font-size: 12px;
  position: fixed;
  top: 17px;
  text-align: center;
  color: #0a0dc4;
}



/* 
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
} */

#paint{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidebar{
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: -55vw;
/* change margin back for animation to work */
  transition: ease-in-out;
  background-color: rgb(252, 252, 252);
  z-index: 8000000;

}

#leo-castelli.sidebar{
  box-shadow: 2px 5px 8px -3px  #5482b4;
  color:#5482b4;
}
#leo-castelli a{
  color:#5482b4;
}
#leo-castelli.get-directions{
  border:1px solid #5482b4;
}

#mark-rothko a{
  color:#5482b4;
}
#mark-rothko.get-directions{
  border:1px solid #5482b4;
}

#tavern a{
  color:#129AA0;
}
#tavern.get-directions{
  border:1px solid #129AA0;
}
#de-kooning a{
  color:#129AA0;
}
#de-kooning.get-directions{
  border:1px solid #129AA0;
}


#mark-rothko.sidebar{
  box-shadow: 2px 5px 8px -3px  #5482b4;
  overflow: scroll;
  color:#5482b4;
}

#betty-parsons a{
  color:#be4d4a;
}
#betty-parsons.get-directions{
  border:1px solid #be4d4a;
}

#moma a{
  color:#be4d4a;
}

#janis-gallery a{
  color:#be4d4a;
}

#century-gallery a{
  color:#be4d4a;
}
#century-gallery.get-directions{
  border:1px solid #be4d4a;
}

#tavern.sidebar{
  box-shadow: 2px 5px 8px -3px  #129AA0;
  color:#129AA0;
}

#de-kooning.sidebar{
  box-shadow: 2px 5px 8px -3px  #129AA0;
  color:#129AA0;
}

#betty-parsons.sidebar{
  box-shadow: 2px 5px 8px -3px  #129AA0;
  color:#be4d4a;
}

.return{
  font-family: 'F Grotesk book';
  font-size: 19px;
  position: static;
  margin-top: 15px;
  margin-left: 25px;
  width: 50vw;
  text-align: left;
}

/* .return:hover{
  border-bottom: 2px solid #5482b4;
} */

.body-copy{
  font-family: 'SuisseWorks-Regular';
  font-size: 19px;
  position: static;
  margin-top: 3px;
  margin-left: 25px;
  padding-bottom: 15px;
  width: 45vw;
  line-height: 27px;
}

.subhead{
  font-family: 'F Grotesk demi';
  font-size: 12px;
  margin-top: 10px;
  margin-left: 25px;
  width: 45vw;
  line-height: 26px;
  text-transform: uppercase;
}

.top-link{
  margin-top: 25px;
}

.source-link{
  line-height: 20px;
  padding-bottom: 5px;
}

.source-link:hover{
  text-decoration: underline;
}

.get-directions{
  border: solid 1px ;
  width: auto;
  font-family: 'SuisseWorks-Regular';
  font-size: 19px;
  position: absolute;
  bottom: 25px;
  margin-left: 25px;
  line-height: 26px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.image-box{
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.sidebar-images{
  width: 150px;
  height: auto;
  padding-right: 20px;
}

.source{
  font-family: 'SuisseWorks-Regular';
  font-size: 19px;
  position: static;
  margin-top: 3px;
  margin-left: 25px;
  width: 45vw;
  line-height: 27px;
  padding-bottom: 10px;
}

.source:hover{
  font-style: italic;
}

.site-title{
  transform: rotate(90deg);
  height: 25px;
  width: 100vh;
  font-family: 'F Grotesk book';
  font-size: 21px;
  color: rgb(146, 146, 146);
  position: absolute;
  right: -30vw;
  top: 50vh;
  text-align: center;
}

#betty-parsons.sidebar{
  color: #be4d4a;
  box-shadow: 2px 5px 13px -3px  #be4d4a;
}

#century-gallery.sidebar{
  color: #be4d4a;
  box-shadow: 2px 5px 13px -3px  #be4d4a;
}
#janis-gallery.sidebar{
  color: #be4d4a;
  box-shadow: 2px 5px 13px -3px  #be4d4a;
}
#moma.sidebar{
  color: #be4d4a;
  box-shadow: 2px 5px 13px -3px  #be4d4a;
}

a{
  color: none;
}
/* a:hover{
  text-decoration: underline;
} */

.info-popup{
  width: 40vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transform: scale(0);
  background-color: white;
  box-shadow: 2px 5px 40px -3px  #cb774f;
  z-index: 90000;
  font-family: 'SuisseWorks-Regular';
  font-size: 19px;
  color: #be4d4a;
  text-align: center;
  padding: 50px;
  margin-top: auto;
  line-height: 30px;
}

#haze{
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);

}

